#footerContainer {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: black;
    color: white;
}

p > a {
    text-align: center;
    color: white;    
}

p {
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
}

#bell,#user {
    height: 100%;
}
.vertical-center {
    margin: 0;
    position: relative;
    height: 100%;
  }
  
#titleContainer{
    background-color: black;
    color: white;
    margin-top: 2%;
    text-align: center; 
    font-size: x-large;
}

#mainRow {
    padding-top: 1%;
    padding-bottom: 1%;
}

#welcome {
    display: contents;
    padding:0%;
    margin-left: 0%;
    margin-bottom: 2%;
    font-size: 3vw;
}

#titleContainer a{
    text-decoration: none;
    color: white;
}

#titleContainer a:hover{
    text-decoration: none;
    color: blue;
}

#searchBarContainer {
    margin-top: 2%;
    margin-bottom: 2%;
}

#menuContainer {
    font-variant-caps: all-small-caps;
    font-style: italic;
    border-top-style: groove;
    font-size: larger;
    margin: 2%;
    background-color: transparent;
}

#siteLogo {
    max-width: 100%;
    height: auto;
}

#carosello_right {
    font-size: 200%;
    margin-right: 4%;
}

#carosello_left {
    font-size: 200%;
    margin-left: 4%;
}

#footerLogo {
    width: 60px;
}

.baseCart {
    height: inherit;
}
  
#topNavbar{
    font-weight: bold;
    border-bottom-style: groove;
}

#lens{
    background-color: transparent;
    border: transparent;
}

.lens:hover{
    font-size: large;
}
