#eventContainer {

    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.trash:hover{
    text-decoration: none;
    font-size: xx-large;
    cursor: pointer;
}

.trash{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.up,.down{
    
    font-size: medium;
    max-width: 100%;
}

#buy {
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 5%;
}