#choiseContainer,#info {
    padding: 2%;
    margin-top: 2%;
    border: 2px solid #000000;
    border-radius: 5px;
}

#paypalForm,#cardForm,#transferForm{
    display: none;
    margin-left: 2%;
}

.option {
    align-items: center;
    margin: 1%;
}

label {
    margin: 0%;
    margin-left: 1%;
}

i {
    margin-left: 1%;
    
}

.choiseLogo{
    margin-left: 1%;
}

#buy{
    margin-top: 4%;
    margin-bottom: 4%;
}