h4{
    font-size: xx-large;
    font-weight: bold;
    padding: 2%;
}

.card {
    margin: 2%;
}

#next{
    margin-left: 10%;
}

#prev{
    margin-right: 10%;
}

label{
    padding-right: 4%;
    font-size: medium;
    font-weight: bold;
}

#pageButtons{
    margin-top: 10%;
    margin-bottom: 10%;
}

#resultList a {
    text-decoration: none;
}

#resultList a:hover {
    text-decoration: none;
}

.card:hover{
    opacity: 0.5;
}
