#eventView, #eventViewSoldOut {
    border-radius: 4%;
    border-style: solid;
    border-color: black;
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#info{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#eventView p{
    font-size: 0.85em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

#eventView p.eventData {
    font-size: 0.7em;
    font-style: oblique;   
}

#eventView h6{
    font-size: 1em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

.button, .goBack,#addToCart, #scaduto {
    margin-bottom: 4%;
}

