.info{
    margin: 2% 0;
    padding: 1%;
}

h3{
    margin: .5rem 0 .5rem .3rem;
}

h4{
margin: .5rem 0;
}

table{
    margin-top: 3%;
}

.trash:hover, .trashCat:hover{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
text-decoration: none;
}

#newCat{
    margin-top: 5%;
}

#btnCategoria{
    margin-bottom: 3%;
}

#inputCategoria{
    margin: 3% 0;
}

.orgSlash:hover, .orgPlus:hover, .cliSlash:hover, .cliPlus:hover{
    text-decoration: none;
    cursor: pointer;
    font-size: large;
}