#logout_div{
    padding: 3%;
}

.list-group-item{
    margin: 2%;
    border: solid 2px black;
    border-radius: 5px;

}

#menu{
    margin: 2% 0 5% 0;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}



