.scrollmenu{
    overflow: auto;
    white-space: nowrap;
}

#carosello {
    white-space: nowrap; 
    overflow: hidden;
}

#carosello img:hover {
    transform: scale(1.1,1.1);
}

#carosello_left, #carosello_right{
    height: unset;
    text-decoration: none;
    border: black solid;
    border-width: 0.5px;
    background: white;
    position: absolute;
    z-index: 1000;
}

#carosello_right{
    right: 0;
}

#carosello_left{
    left: 0;
}
h4 {
    font-size: xx-large;
    font-weight: bold;
    padding: 2%;
}

.card {
    overflow-wrap: break-word;
    max-width: 200px;
    max-height: 250px;
    width: max-content;
    height: max-content;
}

#carosello a:hover{
    opacity: 0.5;
    border: black solid;
}

.card-img-top{
    height: 100px;
}

.scrollmenu a {
    text-decoration: none;
}

.scrollmenu a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.slide{
    max-height: 250px;
}