#modifica, #aggiungi, #elimina, #registrati, #salva{
    margin-bottom: 3%;
}

.mainCol{
    margin: 3% 0;
}

img.eventimg{
    width: 80px;
    margin: 3% 0;
}

table{
    font-size: small;
    margin-top: 16px;
}

legend{
font-size: unset;
}

.radio input{
    margin-right: 2%;
}

p{
    margin-bottom: 3%;
}
