.card{
    margin: 2%;
}

button.btn-link{
    color: black;
}

button.btn-link:hover{
    text-decoration: none;
    color: black;
}

div.card-body{
    margin-bottom: 3%;
}


.trash:hover{
    text-decoration: none;
    font-size: large;
    cursor: pointer;
}

.empty:hover{
    text-decoration: none;
    cursor: pointer;
}

h3{
    margin: .5rem 0 .5rem .3rem;
}