button{
    margin: 3% 0;
}

h3{
    text-align: center;
    margin: 2%;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.list-group{
    margin-bottom: 3%;
}


table{
    margin-top: 3%;
}

.card {
    margin: 2% 0;
}

.card:hover{
    opacity: 0.5;
}

p{
    margin: 2%;
}

div.part{
    border-bottom-style: groove;
    margin-bottom: 1%;
}
